.is-hidden {
	opacity: 0;
}

.board__card {
	@include box-(1.5,1,1);
	@include em-padding-tb(1,1);
	border: 1px solid #ccc;
	background-color: #eee
}

#board {
	@include em-margin-tb(0,2);
}

footer {
	background-color: $alpha-ui-color;
	color: white;
	a, a:visited {
		color: darken(white, 25)
	}
	div {
		@include box-(6,0,0);
	}
}