.is-hidden {
	display: none;
}

.board__card {
	@include box-(1.5,0,2);
	@include em-margin-tb(0,2);
}

footer {
	background-color: $alpha-ui-color;
	color: white;
	a, a:visited {
		color: darken(white, 25)
	}
	div {
		@include box-(6,0,0)
	}
}