.board__frame {
	border: 1px solid $alpha-ui-color;
	@include em-padding-tb(1,1);
	@include em-padding-lr(1,1);
	@extend %clearfix;
}

.players {
	@include em-margin-tb(0,3)
}

.players-list {
	list-style: none;
}

	.players-list li {
		display: inline-block;
		@include box-(3,0,0);
	}