.is-hidden {
	opacity: 0;
}

.display-none {
	display: none;
}

.board__card {
	@include box-(3,1,1);
	@include em-padding-tb(1,1);
	border: 1px solid #ccc;
	background-color: #eee;
	cursor: pointer;

	@include mq($bp3){
		@include box-(1.5,1,1);
	}
}

.turn-message {
	@include em-margin-tb(2,2);
}

#board {
	@include em-margin-tb(0,2);
}

footer {
	background-color: $alpha-ui-color;
	color: white;
	a, a:visited {
		color: darken(white, 25)
	}
	div {
		@include box-(6,0,0);
	}
}

.current-player {
	background-color: #eee;
  color: $alpha-ui-color;
}

.is-hidden {
  opacity: 0;
}

h3 {
  @include padding-tb(0,.5);
}

.board__card {
  @include box-(3,1,1);
  @include em-padding-tb(1,1);
  border: 1px solid #ccc;
  background-color: #eee;
  cursor: pointer;

  @include mq($bp5){
    @include box-(2,1,1);
  }
}

#board {
  @include em-margin-tb(0,2);
}

footer {
  background-color: $alpha-ui-color;
  color: white;
  a, a:visited {
    color: darken(white, 25)
  }
  div {
    @include box-(6,0,0);
  }
}

.message-box {
  @include em-padding-tb(2,2);
}

.overlay {
  @include background-opacity(white, .5);
  height: 100%;
  position: fixed;
  width: 100%;
  left:0;
  top:0;
  z-index:1 !important;
  .message-box {
    border: 1px solid black;
    border-radius: $radius;
    background-color: #FFF;

    margin: 0 auto;
    margin-top: 1em;
    @include padding-tb(1,1);
    @include padding-lr(1,1);

    width: 300px;
    height: 100px;
  }
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
}

progress[value]::-webkit-progress-bar {
  background-color: red
}

.startToPlay {
  button {
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    outline: none;
  }
  text-align: center
}


.the-end {
	position: fixed;
	width: 50%;
	height: 50%;
	top: 20%;
	left: 25%;
	z-index: 100;
	text-align: center;
	background-color: #eee;
	border-radius: $radius;
	border: 1px solid #ddd;
    @include padding-tb(1,1);
    @include padding-lr(2,2);
    button {
    	width: 100%;
    }
}
